html {
		.footer {
			background-color: #828282;
			color: #FFFFFF;
			
			.footerContent{
				display: flex;
				justify-content: space-around;
				height: 200px;

				h2{
						font-size: 2rem;
						margin-top: 50px;
						margin-bottom: 15px;
				}

				.email{
					p{
						margin-top: 15px;
					}

					input {
						color: gray;
						height: 30px;
						width: 315px;
						border-radius: 5px;
					}
				}

				address{
					font-size: 1.4rem;
					line-height: 20px;
				}
			}

			#copyright {
				width: 100%;
				font-size: 1.6rem;
				text-align: center;
			}
		}
}